.cats-container {
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
  }
  
  .cats-section {
    max-width: 50%;
    margin: 0 auto;
    text-align: justify;
  }
  
  .cats-section h2 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #333;
  }
  
  .cats-section p {
    font-size: 1rem;
    line-height: 1.6;
    margin-bottom: 15px;
    color: #555;
  }
  
  .cat-image-left {
    max-width: 30%;
    height: auto;
    margin: 10px;
    float: left;
    margin-right: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    border: 1px solid #333;
  }
  
  .cat-image-right {
    max-width: 30%;
    height: auto;
    margin: 10px;
    float: right;
    margin-left: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    border: 1px solid #333;
  }
  
  .cats-footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: white;
    clear: both;
  }
  
  .right-section {
    width: 50%;
  }
  
  .spotlight {
    max-width: 400px;
  }  