  .home-main {
    display: flex;
    padding: 1%;
    text-align: center;
  }

  .left-empty {
    width: 10%;
  }

  .middle-home-section {
    /* border: 2px solid black; */
    width: 60%;
    margin-right: 50px;
  }

  .right-ads {
    width: 20%
  }

  .home-image {
    width: 300px;
  }